*{
    margin:0;
    padding:0;
}
.header{
    height:100px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.logo{
    font-size: 20px;
}
.header nav ul li{
    display:inline-block;
    list-style-type: none;
    padding:8px;
}
.header nav ul li a{
    text-decoration: none;
    color:black;
    font-size: 20px;
    
}
.header nav ul li a:hover{
    color:blue;
}
.icon{
    display: flex;
    flex-direction: row;
    width:150px;

}
.john img{
    height:45px;
    width:45px;
    border-radius: 50%;
    
}
.text{
    font-size: 20px;
    padding:12px;
}
aside {
    float:left;
    width:350px;

}
.box{
    height:200px;
    width:200px;
    background-color: rgb(210, 246, 246);
    font-size: 17px;
    padding:20px;
}
.box h1{
    font-weight: bold;
    padding:5px;
}
.box p{
    padding:5px;
}
.job-input{
    padding: 5px;
    
}
#email{
    height:30px;
    width:180px;
    padding-left:10px;
    border-radius: 5px;
}
.alert{
    font-size: 14px;
    height:20px;
    width:100px;
    background-color: rgba(54, 54, 255, 0.934);
    color:white;
    padding:5px;
    margin:5px;
}
/* .alert:hover{
    height:22px;
    width:105px;
} */

.options{
    padding:10px;
    font-size: 18px;
}
.heading{
    font-weight: bold;
    font-size: 20px;
}
.employement{

}
#employement1{
}

.right{

}

.boxes{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    

}
.box1{
    height:300px;
    width:280px;
    padding:10px;
    margin:15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    
}
.box1 div{
    font-size: 15px;
}
.image{
    height:50px;
    width:50px;
    
}
.small-blocks{
    
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.block1{
    height:24px;
    width:80px;
    background-color:lightskyblue;
    color:blue;
    border-radius: 4px;
    padding-left: 5px;
    
}
.large-blocks{
    
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.large-block1{
    height:28px;
    width:120px;
    background-color:blue;
    color:white;
    border-radius: 4px;
    padding-left: 10px;
    padding-top: 3px;
}
.box1:hover{
    
}

.middle{
    display: inline-block;
}
.box9{
    margin-top: 15px;
    height:150px;
    width:240px;
    background-color: antiquewhite;

}
.img-txt{

}
img{
    height:30px;
    width:30px;
}